{% extends "base_admin.html.twig" %}

{% block title %}
    {{ 'Catalog.Agency.View'|trans }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content_title %}
    {{ 'Catalog.Agency.Agencies'|trans }}
{% endblock %}

{% block main_content %}


    <div class="col-md-12">
        <!-- CARD -->
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="fa fa-xs fa-folder"></i> {{ 'Catalog.Agency.View'|trans }}
                </h4>
                <div class="float-right">
                    <a href="{{ path("paprec_agency_edit", {id: agency.id}) }}"
                       class="btn btn-sm btn-warning"><i
                                class="fa fa-xs fa-edit"></i> {{ 'Catalog.Agency.Edit'|trans }}</a>
                    <a id="catalogAgencyRemoveButton" href="javascript:void(0);" class="btn btn-sm btn-danger"><i
                                class="fa fa-xs fa-trash"></i> {{ 'Catalog.Agency.Remove'|trans }}</a>
                </div>
                <div class="float-left">
                    <a href="{{ path('paprec_agency_index') }}" class="btn btn-sm btn-default"><i
                                class="fa fa-xs fa-chevron-left"></i> {{ 'Catalog.Agency.List'|trans }}</a>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'General.Information'|trans }}</h5>
                        </div>
                        <div class="card-body row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.Agency.Name'|trans }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ agency.name }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.Agency.BusinessName'|trans }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ agency.businessName }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.Agency.EntityName'|trans }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ agency.entityName }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.Agency.BusinessId'|trans }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ agency.businessId }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.Agency.Address'|trans }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ agency.address }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.Agency.City'|trans }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ agency.city }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.Agency.PostalCode'|trans }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ agency.postalCode }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.Agency.PhoneNumber'|trans }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ agency.phoneNumber }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.Agency.FaxNumber'|trans }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ agency.faxNumber }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.Agency.LegalInfoTemplate'|trans }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ agency.legalInfoTemplate }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.Agency.DestinationEmailMission'|trans }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ agency.destinationEmailMission }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.Agency.Template.Template'|trans }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ ('Catalog.Agency.Template.'~agency.template)| trans({}, "messages", app.request.locale) }}
                                    </label>
                                </div>
                            </div>
                            {#
                            Affichage des photos
                            #}
                            <div class="col-md-6">
                                {#
                                Affichage des photos PilotPicture
                                #}
                                <div class="col-md-12 mt-2 no-gutters">
                                    <div class="card">
                                        <div class="card-header">
                                            {{ 'Catalog.Product.PilotPicture'| trans({}, "messages", app.request.locale) }}
                                            {% if agency.pictures is empty %}
                                                <div class="float-right">
                                                    <button class="btn btn-sm btn-outline-primary"
                                                            data-target="#uploadPictureModal" data-toggle="modal"
                                                            data-type="PILOTPICTURE" id="openModalUploadPicture">
                                                        <i class="fa fa-xs fa-plus"></i> {{ 'Catalog.Product.AddPicture'| trans({}, "messages", app.request.locale) }}
                                                    </button>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="card-body">
                                            <div class="card-group">
                                                {% if (agency.pilotPictures) %}
                                                    {% for picture in agency.pilotPictures %}
                                                        <div class="card card-sec">
                                                            <div class="card-header">
                                                                {# <div class="float-left"> {{ 'Catalog.Product.PilotPicture'| trans({}, "messages", app.request.locale) }}</div> #}
                                                                <div class="dropdown float-right">
                                                                    <button class="p-0 btn btn-sm btn-light dropdown-toggle btn-sm"
                                                                            type="button" id="{{ picture.id }}"
                                                                            data-toggle="dropdown" aria-haspopup="true"
                                                                            aria-expanded="false">
                                                                        <i class="fa fa-xs fa-cog"></i>
                                                                    </button>
                                                                    <div class="dropdown-menu"
                                                                         aria-labelledby="{{ picture.id }}">
                                                                        <button id="pictureEditButton"
                                                                                class="dropdown-item"
                                                                                type="button"
                                                                                data-target="#editPictureModal"
                                                                                data-toggle="modal"
                                                                                data-type="PILOTPICTURE"
                                                                                data-id="{{ picture.id }}">
                                                                            <i class="fa fa-xs fa-pencil-alt"></i> {{ 'General.Edit'| trans({}, "messages", app.request.locale) }}
                                                                        </button>
                                                                        <button data-id="{{ picture.id }}"
                                                                                class="dropdown-item removePictureButton"
                                                                                type="button">
                                                                            <i class="fa fa-xs fa-trash"></i> {{ 'General.Remove'| trans({}, "messages", app.request.locale) }}
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <img class="card-img-top"
                                                                 src="{{ asset('/uploads/pictos/' ~ picture.path) }}"
                                                                 alt="{{ 'Catalog.Product.Pictures'| trans({}, "messages", app.request.locale) }}">
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 mt-2">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                {{ 'Catalog.AgencyFile.FileListTitle'|trans }}
                                            </h5>
                                        </div>
                                        <div class="card-body">

                                            <div class="float-right">
                                                <a href="javascript:void(0);"
                                                   class="btn btn-light mb-2"
                                                   data-target="#uploadAgencyFileModal"
                                                   data-toggle="modal"
                                                   id="openModalUploadAgencyFile"><i
                                                            class="fa fa-file"></i> {{ 'Catalog.AgencyFile.BtnAddLabel'| trans({}, "messages", app.request.locale) }}
                                                </a>
                                            </div>

                                            <table id="agencyFileListDatatable"
                                                   class="table table-striped table-bordered table-hover"
                                                   cellpadding="0" cellspacing="0" border="0">
                                                <thead>
                                                <tr>
                                                    <th>{{ 'Catalog.AgencyFile.FileNameColumn'| trans({}, "messages", app.request.locale) }}</th>
                                                    <th>{{ 'Catalog.AgencyFile.Type.Type'| trans({}, "messages", app.request.locale) }}</th>
                                                    <th>{{ 'Catalog.AgencyFile.FileTypeColumn'| trans({}, "messages", app.request.locale) }}</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% if agency.agencyFiles is not null and agency.agencyFiles|length > 0 %}
                                                    {% for agencyFile in agency.agencyFiles %}

                                                        <tr>
                                                            <td>
                                                                {{ agencyFile.originalFileName }}
                                                            </td>

                                                            <td>
                                                                {% if agencyFile.type %}
                                                                    {{ ('Catalog.AgencyFile.Type.'~agencyFile.type)|trans }}
                                                                {% endif %}
                                                            </td>

                                                            <td>
                                                                {{ agencyFile.originalFileName|split('.')|last|upper }}
                                                            </td>

                                                            <td class="text-center">
                                                                <a href="{{ path('paprec_agency_download_agency_file', {id: agencyFile.id}) }}"
                                                                   class="btn btn-sm btn-info">
                                                                    <i class="fa fa-xs fa-download"></i>
                                                                </a>
                                                                <a href="#"
                                                                   class="btn btn-sm btn-danger commercialAgencyFileRemoveButton"
                                                                   data-id="{{ agencyFile.id }}">
                                                                    <i class="fa fa-xs fa-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>

                                                    {% endfor %}
                                                {% endif %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#
                        Modal d'affichage des formulaires
                        #}
                        <div class="modal fade" id="uploadPictureModal" tabindex="-1" role="dialog"
                             aria-labelledby="Upload Picture" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <form id="formAddPicture" name="formAddPicture"
                                            {% set params = {id: agency.id, type: 'Picture' } %}
                                          action="{{ path("paprec_agency_addPicture", params) }}"
                                          method="post" enctype="multipart/form-data">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="uploadPictureModalTitle">
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <div class="form-label">
                                                    {{ 'Catalog.Picture.Path'| trans({}, "messages", app.request.locale) }}
                                                    <span id="uploadPictureSizeInfo">

                                                        </span>
                                                </div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddPicture.path, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddPicture.path) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary"
                                                    data-dismiss="modal">
                                                {{ 'General.Cancel'| trans({}, "messages", app.request.locale) }}
                                            </button>
                                            <button type="button" class="btn btn-sm btn-primary"
                                                    id="formAddPictureSubmitButton">
                                                {{ 'General.Save'| trans({}, "messages", app.request.locale) }}
                                            </button>
                                        </div>
                                        {{ form_rest(formAddPicture) }}
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="editPictureModal" tabindex="-1" role="dialog"
                             aria-labelledby="Edit Picture" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <form id="formEditPicture" name="formEditPicture"
                                          action=""
                                          method="post" enctype="multipart/form-data">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editPictureModalTitle">
                                                {{ 'Catalog.Product.EditPicture'| trans({}, "messages", app.request.locale) }}
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <div class="form-label">
                                                    {{ 'Catalog.Picture.Path'| trans({}, "messages", app.request.locale) }}
                                                    <span id="editPictureSizeInfo">

                                                        </span>
                                                </div>
                                                <div class="form-content">
                                                    {{ form_widget(formEditPicture.path, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formEditPicture.path) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary"
                                                    data-dismiss="modal">
                                                {{ 'General.Cancel'| trans({}, "messages", app.request.locale) }}
                                            </button>
                                            <button type="button" class="btn btn-sm btn-primary"
                                                    id="formEditPictureSubmitButton">
                                                {{ 'General.Save'| trans({}, "messages", app.request.locale) }}
                                            </button>
                                        </div>
                                        {{ form_rest(formEditPicture) }}
                                    </form>
                                </div>
                            </div>
                        </div>


                        <!-- Modal d'ajout d'un CGV' -->
                        <div class="modal fade" id="uploadAgencyFileModal" tabindex="-1" role="dialog"
                             aria-labelledby="Upload Picture" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <form id="formAddAgencyFile" name="formAddAgencyFile"
                                          action="{{ path("paprec_agency_add_agency_file", {agencyId: agency.id}) }}"
                                          method="post" enctype="multipart/form-data">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {{ 'Catalog.AgencyFile.AddTitle'| trans({}, "messages", app.request.locale) }}
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <div class="form-label">
                                                    <span>{{ 'Catalog.AgencyFile.MaxSize'| trans({}, "messages", app.request.locale) }}</span>
                                                </div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddAgencyFile.systemPath, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddAgencyFile.systemPath) }}
                                                </div>
                                            </div>
{#                                            <div class="form-group">#}
{#                                                <div class="form-label">#}
{#                                                    <span>{{ 'Catalog.AgencyFile.Type.Type'| trans({}, "messages", app.request.locale) }}</span>#}
{#                                                </div>#}
{#                                                <div class="form-content">#}
{#                                                    {{ form_widget(formAddAgencyFile.type, {'attr': {'class': 'form-control'}}) }}#}
{#                                                    {{ form_errors(formAddAgencyFile.type) }}#}
{#                                                </div>#}
{#                                            </div>#}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary"
                                                    data-dismiss="modal">
                                                {{ 'General.Cancel'| trans({}, "messages", app.request.locale) }}
                                            </button>
                                            <button type="button" class="btn btn-sm btn-primary"
                                                    id="formAddAgencyFileSubmitButton">
                                                {{ 'General.Save'| trans({}, "messages", app.request.locale) }}
                                            </button>
                                        </div>
                                        {{ form_rest(formAddAgencyFile) }}
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'General.System-information'|trans }}</h5>
                        </div>
                        <div class="card-body">

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'General.Date-creation'|trans }}</label>
                                <label class="col-form-label col-md-8">
                                    {{ agency.dateCreation|localizeddate('short', 'medium', app.request.locale) }}
                                </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'General.Date-update'|trans }}</label>
                                <label class="col-form-label col-md-8">
                                    {{ agency.dateUpdate is empty ? "" : agency.dateUpdate|localizeddate('short', 'medium', app.request.locale) }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(function () {

            $('#catalogAgencyRemoveButton').on('click', function () {

                var url = "{{ path("paprec_agency_remove", {id: agency.id}) }}";

                Swal.fire({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'General.Confirm-remove'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then(function (result) {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });

            });

            // Au chargement de la modal d'ajout d'une photo
            // On met à jour le titre de la modal d'ajout de photo en fonction du type que l'on ajoute
            // On modifie aussi l'url d'action pour passer en paramètre le type de photo à ajouter
            $('#uploadPictureModal').on('show.bs.modal', function (e) {
                var type = $(e.relatedTarget).data('type');
                var actionUrl = "{{ path("paprec_agency_addPicture", {id: agency.id, type: 'typeTmp'}) }}";
                var sizeInfo = document.getElementById('uploadPictureSizeInfo');

                actionUrl = actionUrl.replace('typeTmp', type);
                document.formAddPicture.action = actionUrl;
                switch (type) {
                    case 'Picto':
                        type = "{{ 'Catalog.Product.Picto'| trans({}, "messages", app.request.locale) }}";
                        sizeInfo.innerText = '(125 x 120 pixels)';
                        break;
                    case 'PilotPicture':
                        type = "{{ 'Catalog.Product.PilotPicture'| trans({}, "messages", app.request.locale) }}";
                        sizeInfo.innerText = '(277 x 395 pixels)';
                        break;
                    default:
                        type = "{{ 'Catalog.Product.Pictures'| trans({}, "messages", app.request.locale) }}";
                        sizeInfo.innerText = '(60 x 60 pixels)';
                        break;
                }
                var title = document.getElementById('uploadPictureModalTitle');
                title.innerText = type;
            });

            // Au chargement de la modal d'édition d'une photo
            // On modifie l'URL d'action du formulaire pour passer en paramètre l'ID de la photo modifiée
            $('#editPictureModal').on('show.bs.modal', function (e) {
                var pictureID = $(e.relatedTarget).data('id');
                var type = $(e.relatedTarget).data('type');
                var actionUrl = "{{ path("paprec_agency_editPicture", {id: agency.id, pictureID: 'pictureTmp'}) }}";
                var sizeInfo = document.getElementById('editPictureSizeInfo');

                actionUrl = actionUrl.replace('pictureTmp', pictureID);
                document.formEditPicture.action = actionUrl;
                switch (type) {
                    case 'Picto':
                        type = "{{ 'Catalog.Product.Picto'| trans({}, "messages", app.request.locale) }}";
                        sizeInfo.innerText = '(125 x 120 pixels)';
                        break;
                    case 'PilotPicture':
                        type = "{{ 'Catalog.Product.PilotPicture'| trans({}, "messages", app.request.locale) }}";
                        sizeInfo.innerText = '(277 x 395 pixels)';
                        break;
                    default:
                        type = "{{ 'Catalog.Product.Pictures'| trans({}, "messages", app.request.locale) }}";
                        sizeInfo.innerText = '(60 x 60 pixels)';
                        break;
                }
                var title = document.getElementById('editPictureModalTitle');
                title.innerText = type;
            });


            $('.removePictureButton').on('click', function () {
                picId = $(this).data('id');
                Swal.fire({
                    title: "{{ 'General.Confirm'| trans({}, "messages", app.request.locale) }}",
                    text: "{{ 'General.Confirm-remove'| trans({}, "messages", app.request.locale) }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'| trans({}, "messages", app.request.locale) }}",
                    cancelButtonText: "{{ 'General.No'| trans({}, "messages", app.request.locale) }}"
                }).then(function (result) {
                    if (result.value) {
                        var url = "{{ path("paprec_agency_removePicture", {id: agency.id, pictureID: 'pictureTmp'}) }}";
                        url = url.replace('pictureTmp', picId);
                        $(location).attr('href', url);
                    }
                });
            });


            $('#formAddPictureSubmitButton').on('click', function () {
                $('#formAddPicture').submit();
            });

            $('#formEditPictureSubmitButton').on('click', function () {
                $('#formEditPicture').submit();
            });


            $('#formAddAgencyFileSubmitButton').on('click', function () {
                $('#formAddAgencyFile').submit();
            });

            $('.commercialAgencyFileRemoveButton').on('click', function () {
                var agencyFileId = $(this).data('id');
                var url = "{{ path("paprec_agency_remove_agency_file", {agencyId: agency.id, agencyFileId: '0000'}) }}".replace('0000', agencyFileId);

                Swal.fire({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'General.Confirm-remove'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then(function (result) {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });

            });
        });
    </script>
{% endblock %}
