{% extends "base_admin.html.twig" %}

{% block title %}
    {{ 'Commercial.QuoteRequest.Add'|trans }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content_title %}
    {{ 'Commercial.QuoteRequest.Add'|trans }}
{% endblock %}

{% block main_content %}

    <form id="commercialQuoteRequestForm" action="" method="post">

        <div class="col-md-12">
            <!-- BOX -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-xs fa-plus"></i> {{ 'Commercial.QuoteRequest.Add'|trans }}
                    </h4>
                    <div class="float-right">
                        <a href="javascript:void(0);"
                           class="btn btn-sm btn-success commercial-quoteRequest-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'General.Save'|trans }}</a>
                        <a href="javascript:void(0);"
                           class="btn btn-sm btn-danger commercial-quoteRequest-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'General.Cancel'|trans }}</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Commercial.QuoteRequest.Informations-FO'|trans }}</h5>
                            </div>
                            <div class="card-body row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Locale'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.locale, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.locale) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Catalog.Catalog'|trans }}
                                            *</label>
                                        <div class="form-content">
                                            {% for radio in form.catalog.children %}
                                                <div class="form__check ml-4">
                                                    {{ form_widget(radio) }}
                                                    {{ form_label(radio) }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.BusinessName'|trans }}
                                            </label>
                                        <div class="form-content">
                                            {{ form_widget(form.businessName, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.businessName) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Civility'|trans }}
                                            </label>
                                        <div class="form-content">
                                            {% for radio in form.civility.children %}
                                                <div class="form__check ml-4">
                                                    {{ form_widget(radio) }}
                                                    {{ form_label(radio) }}
                                                </div>
                                            {% endfor %}
                                            {{ form_errors(form.civility) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.LastName'|trans }}
                                            </label>
                                        <div class="form-content">
                                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.lastName) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.FirstName'|trans }}
                                            </label>
                                        <div class="form-content">
                                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.firstName) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Email'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.email) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Phone'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.phone) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Public.Contact.Access'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.access, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.access) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Public.Contact.FloorNumber'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.floorNumber, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.floorNumber) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Public.Contact.Staff'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.staff, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.staff) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.PonctualDate'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.ponctualDate, {'attr': {'class': 'form-control ponctual-date-datepicker'}}) }}
                                            {{ form_errors(form.ponctualDate) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.IsMultisite'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.isMultisite, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.isMultisite) }}
                                        </div>
                                    </div>

                                    <div class="form-group address-content">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Address'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.address, {'id': 'addressAutocomplete', 'attr': {'class': 'form-control address-field'}}) }}
                                            {{ form_errors(form.address) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.PostalCode'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.postalCode, {'id': 'postalCodeField', 'attr': {'class': 'form-control address-field', 'data-url': path('paprec_postalCode_autocomplete') }}) }}
                                            {{ form_errors(form.postalCode) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {#                                        <label class="form-label">{{ 'Commercial.QuoteRequest.City'|trans }}</label> #}
                                        <div class="form-content">
                                            {{ form_widget(form.city, {'id': 'cityField', 'attr': {'class': 'form-control address-field', 'hidden': true}}) }}
                                            {{ form_errors(form.city) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-content">
                                            {{ form_widget(form.postalCodeString, {'id': 'postalCodeStringField', 'attr': {'class': 'form-control', 'hidden': true}}) }}
                                            {{ form_errors(form.postalCodeString) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.BillingAddress'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.billingAddress, {'id': 'billingAddressAutocomplete', 'attr': {'class': 'form-control address-field'}}) }}
                                            {{ form_errors(form.billingAddress) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.BillingPostalCode'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.billingPostalCode, {'id': 'billingPostalCodeField', 'attr': {'class': 'form-control address-field', 'data-url': path('paprec_postalCode_autocomplete')}}) }}
                                            {{ form_errors(form.billingPostalCode) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {#                                        <label class="form-label">{{ 'Commercial.QuoteRequest.BillingCity'|trans }}</label> #}
                                        <div class="form-content">
                                            {{ form_widget(form.billingCity, {'id': 'billingCityField', 'attr': {'class': 'form-control address-field', 'hidden': true}}) }}
                                            {{ form_errors(form.billingCity) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-content">
                                            {{ form_widget(form.billingPostalCodeString, {'id': 'billingPostalCodeStringField', 'attr': {'class': 'form-control', 'hidden': true}}) }}
                                            {{ form_errors(form.billingPostalCodeString) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Comment'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.comment) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-4">
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.SignatoryFirstName1'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.signatoryFirstName1, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.signatoryFirstName1) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.SignatoryLastName1'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.signatoryLastName1, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.signatoryLastName1) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.SignatoryTitle1'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.signatoryTitle1, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.signatoryTitle1) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Commercial.QuoteRequest.Informations-BO'|trans }}</h5>
                            </div>
                            <div class="card-body row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.CustomerId'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.customerId, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.customerId) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.UserInCharge'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.userInCharge, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.userInCharge) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.Reference'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.reference, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.reference) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.QuoteStatus'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.quoteStatus, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.quoteStatus) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.RegularDuration'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.duration, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.duration) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="form-label">{{ 'Commercial.QuoteRequest.StartDate-form'|trans }}</label>
                                            <div class="form-content">
                                                {{ form_widget(form.startDate, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.startDate) }}
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="form-label">{{ 'Commercial.QuoteRequest.ServiceEndDate-form'|trans }}</label>
                                            <div class="form-content">
                                                {{ form_widget(form.serviceEndDate, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.serviceEndDate) }}
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="form-label">{{ 'Commercial.QuoteRequest.DepositDate'|trans }}</label>
                                            <div class="form-content">
                                                {{ form_widget(form.depositDate, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.depositDate) }}
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="form-label">{{ 'Commercial.QuoteRequest.ResumptionDate'|trans }}</label>
                                            <div class="form-content">
                                                {{ form_widget(form.resumptionDate, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.resumptionDate) }}
                                            </div>
                                        </div>
                                    </div>
                                    {#                                    <div class="form-group"> #}
                                    {#                                        <label class="form-label">{{ 'Commercial.QuoteRequest.OverallDiscount'|trans }}</label> #}
                                    {#                                        <div class="form-content"> #}
                                    {#                                            {{ form_widget(form.overallDiscount, {'attr': {'class': 'form-control'}}) }} #}
                                    {#                                            {{ form_errors(form.overallDiscount) }} #}
                                    {#                                        </div> #}
                                    {#                                    </div> #}
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.AnnualBudget'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.annualBudget, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.annualBudget) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{ 'Commercial.QuoteRequest.SalesmanComment'|trans }}</label>
                                        <div class="form-content">
                                            {{ form_widget(form.salesmanComment, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.salesmanComment) }}
                                        </div>
                                    </div>
{#                                    <div class="form-group row">#}
{#                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.ServiceEndDate-form'|trans }}</label>#}
{#                                        <div class="form-content">#}
{#                                            {{ form_widget(form.serviceEndDate, {'attr': {'class': 'form-control'}}) }}#}
{#                                            {{ form_errors(form.serviceEndDate) }}#}
{#                                        </div>#}
{#                                    </div>#}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="float-right">
                        <a href="javascript:void(0);"
                           class="btn btn-sm btn-success commercial-quoteRequest-save-button"><i
                                    class="fa fa-xs fa-check"></i> {{ 'General.Save'|trans }}</a>
                        <a href="javascript:void(0);"
                           class="btn btn-sm btn-danger commercial-quoteRequest-cancel-button"><i
                                    class="fa fa-xs fa-close"></i> {{ 'General.Cancel'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>
    </div>



{% endblock %}

{% block javascripts %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{ google_places_secret_key }}"></script>
    <script>
        $(function () {
            google.maps.event.addDomListener(window, 'load', function () {
                var element = document.getElementById('addressAutocomplete');

                if (element) {
                    var autocomplete = new google.maps.places.Autocomplete(element, {types: ['geocode']});
                    autocomplete.setComponentRestrictions({
                        country: ["fr"],
                    });
                    google.maps.event.addListener(autocomplete, 'place_changed', function () {

                        var place = this.getPlace();

                        for (var i in place.address_components) {
                            var component = place.address_components[i];
                            var componentType = component.types[0];

                            switch (componentType) {
                                case 'postal_code': {
                                    $('#postalCodeStringField').val(component.long_name);
                                    break;
                                }

                                case 'street_number': {
                                    $('#addressAutocomplete').val(component.long_name);
                                    break;
                                }

                                case 'locality': {
                                    $('#cityField').val(component.long_name);
                                    break;
                                }

                                case 'route': {
                                    var text = $('#addressAutocomplete').val();

                                    text += ' ' + component.long_name;

                                    $('#addressAutocomplete').val(text);
                                    break;
                                }
                            }
                        }

                    });
                }
            });

            google.maps.event.addDomListener(window, 'load', function () {
                var element = document.getElementById('billingAddressAutocomplete');

                if (element) {
                    var autocomplete = new google.maps.places.Autocomplete(element, {types: ['geocode']});
                    autocomplete.setComponentRestrictions({
                        country: ["fr"],
                    });
                    google.maps.event.addListener(autocomplete, 'place_changed', function () {

                        var place = this.getPlace();

                        for (var i in place.address_components) {
                            var component = place.address_components[i];

                            var componentType = component.types[0];

                            switch (componentType) {
                                case 'postal_code': {
                                    $('#billingPostalCodeStringField').val(component.long_name);
                                    break;
                                }

                                case 'street_number': {
                                    $('#billingAddressAutocomplete').val(component.long_name);
                                    break;
                                }

                                case 'locality': {
                                    $('#billingCityField').val(component.long_name);
                                    break;
                                }

                                case 'route': {
                                    var text = $('#billingAddressAutocomplete').val();

                                    text += ' ' + component.long_name;

                                    $('#billingAddressAutocomplete').val(text);
                                    break;
                                }
                            }
                        }

                    });
                }
            });

            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.ponctual-date-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                minDate: +1,
                maxDate: "+1M"
            });

            $('#postalCodeField').autocomplete({
                source: '' + $('#postalCodeField').data('url'),
                minLength: 1
            })

            $('.commercial-quoteRequest-save-button').on('click', function () {
                $('#commercialQuoteRequestForm').submit();
            });

            $('.commercial-quoteRequest-cancel-button').on('click', function () {

                var url = "{{ path("paprec_quoteRequest_index") }}";

                Swal.fire({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'General.Confirm-cancel'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then(function (result) {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });

            });

        });
    </script>
{% endblock %}
