{% extends "base_admin.html.twig" %}

{% block title %}
    {{ 'Commercial.QuoteRequest.QuoteRequests'|trans }}
{% endblock %}

{% block stylesheets %}
    <style>
        select.form-control {
            width: auto;
        }

        #lastUpdateDatepicker {
            width: auto;
        }
    </style>
{% endblock %}

{% block content_title %}
    {{ 'Commercial.QuoteRequest.QuoteRequests'|trans }}
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <!-- BOX -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-xs fa-list"></i> {{ 'Commercial.QuoteRequest.List'|trans }}
                    </h4>
                    <div class="float-right">
                        <a href="{{ path('paprec_quoteRequest_add') }}"
                           class="btn btn-sm btn-outline-primary">
                            <i class="fa fa-xs fa-plus"></i> {{ 'Commercial.QuoteRequest.Add'|trans }}
                        </a>
                        <a href="{{ path('paprec_quoteRequest_export') }}" class="btn btn-sm btn-primary ">
                            <i class="fa fa-xs fa-file-excel"></i> {{ 'Commercial.QuoteRequest.Export'|trans }}
                        </a>
                    </div>
                </div>

                <div class="card-body">
                    <div class="paprec-flex mb-4">
                        <select id="selectedCatalog" class="form-control mr-2 input-sm">
                            <option value="#">Sélectionner catalogue</option>
                            <option value="REGULAR">{{ 'Commercial.QuoteRequest.REGULAR'|trans }}</option>
                            <option value="PONCTUAL">{{ 'Commercial.QuoteRequest.PONCTUAL'|trans }}</option>
                            <option value="MATERIAL">{{ 'Commercial.QuoteRequest.MATERIAL'|trans }}</option>
                        </select>
                        <select id="selectedStatus" class="form-control mr-2 input-sm">
                            <option value="#">Sélectionner un statut</option>
                            {% for stat in status %}
                                <option value="{{ stat }}">{{ ('Commercial.QuoteStatusList.' ~ stat)|trans }}</option>
                            {% endfor %}
                        </select>
                        <input class="form-control mr-2 input-sm"
                               placeholder="Date de dernière maj"
                               type="text"
                               id="lastUpdateDatepicker">
                        <button
                                id="applyFilterButton"
                                class="btn btn-outline-primary mr-2">
                            Appliquer les filtres
                        </button>
                        <button
                                id="resetFilterButton"
                                class="btn btn-outline-secondary">
                            Réinitialiser
                        </button>
                    </div>
                    <table id="quoteRequestsListDatatable" class="table table-striped table-bordered table-hover"
                           cellpadding="0" cellspacing="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'Commercial.QuoteRequest.Reference'|trans }}</th>
                            <th>{{ 'Commercial.QuoteRequest.Catalog.Catalog'|trans }}</th>
                            <th>{{ 'Commercial.QuoteRequest.BusinessName'|trans }}</th>
                            <th>{{ 'Commercial.QuoteRequest.IsMultisite'|trans }}</th>
                            <th>{{ 'Commercial.QuoteRequest.TotalAmount'|trans }}</th>
                            <th>{{ 'Commercial.QuoteRequest.QuoteStatus'|trans }}</th>
                            <th>{{ 'Commercial.QuoteRequest.Date-crea'|trans }}</th>
                            <th>{{ 'Commercial.QuoteRequest.UserInCharge'|trans }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>
            <!-- /BOX -->
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {


            $('#quoteRequestsListDatatable').EgdDatatable({
                {% autoescape false %}
                url: "{{ path('paprec_quoteRequest_loadList', {userIds: userIds, periodStartDate: periodStartDate, periodEndDate: periodEndDate, selectedStatus: selectedStatus, selectedCatalog: selectedCatalog}) }}",
                {% endautoescape %}
                order: [[7, "desc"]],
                columns: [
                    {"data": "id"},
                    {"data": "reference"},
                    {"data": "catalog"},
                    {"data": "businessName"},
                    {"data": "isMultisite"},
                    {"data": "totalAmount", "className": "line-number"},
                    {"data": "quoteStatus"},
                    {"data": "dateCreation"},
                    {"data": "userInCharge", "bSortable": false},
                    {"data": "id", "width": "10%", "bSortable": false, "className": "cell-action-button"}
                ],
                rowDblclick: {
                    type: 'open',
                    url: "{{ path('paprec_quote_request_view', {id: '__rowId__'}) }}"
                },
                buttons: [
                    {
                        label: '<span data-toggle="tooltip" data-placement="top" title="{{ "General.Remove-multiple"|trans }}">{{ "General.Remove"|trans }}</span>',
                        type: 'ajaxMany',
                        url: "{{ path("paprec_quoteRequest_removeMany", {ids: '__rowIds__', json: 1}) }}",
                        confirmMessage: "{{ 'General.Confirm-remove'|trans|e('js') }}",
                        className: 'btn-sm',
                        buttons:
                            {
                                cancel: {
                                    label: '{{ 'General.Cancel'|trans|e('js') }}'
                                },
                                confirm: {
                                    label: '{{ 'General.Confirm'|trans|e('js') }}'
                                }
                            }
                    }
                ],
                rowButtons: [
                    {
                        label: "{{ 'General.View'|trans }}",
                        className: "btn btn-primary btn-sm",
                        icon: "fa fa-eye",
                        url: "{{ path('paprec_quote_request_view', {id: '__rowId__'}) }}"
                    },
                    {
                        label: "{{ 'General.Edit'|trans }}",
                        className: "btn btn-warning btn-sm",
                        icon: "fa fa-edit",
                        url: "{{ path('paprec_quoteRequest_edit', {id: '__rowId__'}) }}"
                    },
                    {
                        label: '{{ "General.Remove"|trans }}',
                        type: 'ajax',
                        url: "{{ path("paprec_quoteRequest_removeMany", {ids: '__rowId__', json: 1}) }}",
                        confirmMessage: "<span class='confirm-remove-style'>{{ 'General.Confirm'|trans|e('js') }}</span><br>{{ 'General.Confirm-remove'|trans|e('js') }}",
                        className: 'btn btn-danger btn-sm',
                        icon: "fa fa-times"
                    }

                ]
            });
        });

        $('#lastUpdateDatepicker').datepicker({
            option: $.datepicker.regional["fr"]
        });

        $('#applyFilterButton').on('click', function () {
            {% autoescape false %}
            const listUrl = "{{ url('paprec_quoteRequest_loadList') }}";
            {% endautoescape %}

            const filterUrl = new URL(listUrl);
            const params = new URLSearchParams(filterUrl.search);
            params.set('selectedCatalog', $('#selectedCatalog').val());
            params.set('selectedStatus', $('#selectedStatus').val());
            params.set('lastUpdateDate', $('#lastUpdateDatepicker').val().split('/').reverse().join('-'));

            filterUrl.search = params;

            $('#quoteRequestsListDatatable').DataTable().ajax.url(filterUrl.toString()).load();
        });

        $('#resetFilterButton').on('click', function() {
            {% autoescape false %}
            const listUrl = "{{ url('paprec_quoteRequest_loadList') }}";
            {% endautoescape %}

            const filterUrl = new URL(listUrl);
            const params = new URLSearchParams(filterUrl.search);
            
            $('#selectedCatalog').val('#');
            $('#selectedStatus').val('#');
            $('#lastUpdateDatepicker').val(null);

            params.set('sessionReset', true);
            filterUrl.search = params;
            $('#quoteRequestsListDatatable').DataTable().ajax.url(filterUrl.toString()).load();
        });
    </script>
{% endblock %}
