{% extends "base_admin.html.twig" %}

{% block title %}
    {{ 'Commercial.QuoteRequest.View'|trans }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content_title %}
    {{ 'Commercial.QuoteRequest.QuoteRequests'|trans(null, null, 'DE') }}
{% endblock %}

{% block main_content %}
    <div class="col-md-12">
        <div class="col-md-12">
            <!-- FLASH MESSAGE -->
            <div class="view-box">

                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger">{{ ('Commercial.QuoteRequest.Error.' ~ flashMessage)|trans }}</div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">{{ ('Commercial.QuoteRequest.Success.' ~ flashMessage)|trans }}</div>
                {% endfor %}
            </div>
            <!-- CARD -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-xs fa-quoteRequest"></i> {{ 'Commercial.QuoteRequest.View'|trans }}
                    </h4>
                    <div class="float-right">

                        <div class="btn-group">
                            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-expanded="false">
                                Offre
                            </button>
                            <div class="dropdown-menu">
                                <a href="{{ path("paprec_quoteRequest_edit", {id: quoteRequest.id}) }}"
                                   class="dropdown-item"
                                   data-toggle="tooltip" data-placement="top"
                                   title="{{ 'Commercial.QuoteRequest.Edit-tooltip'|trans }}"
                                ><i class="fa fa-xs fa-edit"></i> {{ 'Commercial.QuoteRequest.Edit'|trans }}</a>
                                <a href="{{ path("paprec_quote_request_follow_up_add", {id: quoteRequest.id}) }}"
                                   class="dropdown-item"
                                   data-toggle="tooltip" data-placement="top"
                                   title="{{ 'Commercial.QuoteRequest.FollowUp.Add-tooltip'| trans({}, "messages", app.request.locale) }}"
                                ><i class="fa fa-xs fa-plus"></i> {{ 'Commercial.QuoteRequest.FollowUp.Add'| trans({}, "messages", app.request.locale) }}
                                </a>
                                <a href="javascript:void(0);"
                                   class="dropdown-item"
                                   data-tooltip="tooltip" data-placement="top"
                                   title="{{ 'Commercial.QuoteRequestFile.BtnAddLabel-tooltip'| trans({}, "messages", app.request.locale) }}"
                                   data-target="#uploadQuoteRequestFileModal"
                                   data-toggle="modal"
                                   id="openModalUploadQuoteRequestFile"><i
                                            class="fa fa-file"></i> {{ 'Commercial.QuoteRequestFile.BtnAddLabel'| trans({}, "messages", app.request.locale) }}
                                </a>
                            </div>
                        </div>

                        <div class="btn-group">
                            <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-expanded="false">
                                Contrat
                            </button>
                            <div class="dropdown-menu">
                                {% if quoteRequest.postalCode %}
                                    <a id="downloadGeneratedQuoteButton"
                                       href="{{ path("paprec_quote_request_download", {id: quoteRequest.id}) }}"
                                       class="dropdown-item"
                                       data-toggle="tooltip" data-placement="top"
                                       title="{{ 'Commercial.QuoteRequest.Download-quote-tooltip'|trans }}"
                                    ><i class="fa fa-xs fa-download"></i> {{ 'Commercial.QuoteRequest.Download-quote'|trans }}
                                    </a>
                                {% endif %}
                                <a href="javascript:void(0);"
                                   class="dropdown-item send-generated-contract-button {% if not isAbleToSendContractEmail %}btn-disabled{% endif %}"
                                   data-toggle="tooltip" data-placement="top"
                                   title="{{ 'Commercial.QuoteRequest.Send-contract-tooltip'|trans }}"
                                ><i class="fa fa-xs fa-envelope"></i> {{ 'Commercial.QuoteRequest.Send-contract'|trans }}
                                </a>
                            </div>
                        </div>

                        {% if hasContract and quoteRequest.quoteStatus == 'CONTRACT_SIGNED' %}
                            <div class="btn-group">
                                <button class="btn btn-success btn-sm dropdown-toggle" type="button"
                                        data-toggle="dropdown"
                                        aria-expanded="false">
                                    Lancement
                                </button>
                                <div class="dropdown-menu">
                                    {% if not quoteRequest.missionSheet %}
                                        {% if is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_COMMERCIAL_MULTISITES') %}
                                            <a href="javascript:void(0)"
                                               data-url="{{ path("paprec_quote_request_mission_sheet_add", {id: quoteRequest.id}) }}"
                                               class="dropdown-item quote-request-add-mission-sheet-button"
                                               data-toggle="tooltip" data-placement="top"
                                               title="{{ 'Commercial.QuoteRequest.MissionSheet.Add-tooltip'| trans({}, "messages", app.request.locale) }}"
                                            ><i class="fa fa-xs fa-plus"></i> {{ 'Commercial.QuoteRequest.MissionSheet.Add'| trans({}, "messages", app.request.locale) }}
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        {% if is_granted('ROLE_MANAGER_COMMERCIAL') %}
                                            <a href="{{ path("paprec_quote_request_mission_sheet_edit", {id: quoteRequest.id, missionSheetId: quoteRequest.missionSheet.id}) }}"
                                               class="dropdown-item">
                                                <i class="fa fa-xs fa-plus"></i> {{ 'Commercial.QuoteRequest.MissionSheet.Edit'| trans({}, "messages", app.request.locale) }}
                                            </a>
                                        {% endif %}
                                        {% if quoteRequest.missionSheet.status == 'NOT_VALIDATED' or quoteRequest.missionSheet.status == '' %}
                                            <a id="commmecialQuoteRequestMissionSheetValidateButton"
                                               href="javascript:void(0);"
                                               class="dropdown-item">
                                                <i class="fa fa-xs fa-check"></i> {{ 'Commercial.MissionSheet.Validate'|trans }}
                                            </a>
                                        {% endif %}
                                        {% if quoteRequest.missionSheet.status == 'VALIDATED' %}
                                            <a href="{{ path("paprec_quote_request_mission_sheet_send", {id: quoteRequest.id}) }}"
                                               class="dropdown-item">
                                                <i class="fa fa-xs fa-paper-plane"></i> {{ 'Commercial.QuoteRequest.MissionSheet.SendPdf'| trans({}, "messages", app.request.locale) }}
                                            </a>
                                        {% endif %}
                                        {% if quoteRequest.missionSheet.status == 'VALIDATED' %}
                                            <a id="downloadGeneratedQuoteButton"
                                               href="{{ path("paprec_quote_request_mission_sheet_download", {id: quoteRequest.id}) }}"
                                               class="dropdown-item">
                                                <i class="fa fa-xs fa-download"></i> {{ 'Commercial.QuoteRequest.MissionSheet.Download'|trans }}
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        <a id="commmecialQuoteRequestRemoveButton" href="javascript:void(0);"
                           class="btn btn-sm btn-danger"
                           data-toggle="tooltip" data-placement="top"
                           title="{{ 'Commercial.QuoteRequest.Remove-tooltip'|trans }}">
                            <i class="fa fa-xs fa-trash"></i> {{ 'General.Remove'|trans }}</a>


                        {#                        {% if not quoteRequest.missionSheet %} #}
                        {#                            {% if is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_COMMERCIAL_MULTISITES') %} #}
                        {#                                {% if hasContract and quoteRequest.quoteStatus == 'CONTRACT_SIGNED' %} #}
                        {#                                    <a href="{{ path("paprec_quote_request_mission_sheet_add", {id: quoteRequest.id}) }}" #}
                        {#                                       class="btn btn-sm btn-success"><i #}
                        {#                                                class="fa fa-xs fa-plus"></i> {{ 'Commercial.QuoteRequest.MissionSheet.Add'| trans({}, "messages", app.request.locale) }} #}
                        {#                                    </a> #}
                        {#                                {% endif %} #}
                        {#                            {% endif %} #}
                        {#                        {% else %} #}

                        {#                            {% if is_granted('ROLE_MANAGER_COMMERCIAL') %} #}
                        {#                                <a href="{{ path("paprec_quote_request_mission_sheet_edit", {id: quoteRequest.id, missionSheetId: quoteRequest.missionSheet.id}) }}" #}
                        {#                                   class="btn btn-sm btn-warning"><i #}
                        {#                                            class="fa fa-xs fa-plus"></i> {{ 'Commercial.QuoteRequest.MissionSheet.Edit'| trans({}, "messages", app.request.locale) }} #}
                        {#                                </a> #}
                        {#                            {% endif %} #}

                        {#                            {% if quoteRequest.missionSheet.status == 'NOT_VALIDATED' or quoteRequest.missionSheet.status == '' %} #}
                        {#                                <a id="commmecialQuoteRequestMissionSheetValidateButton" href="javascript:void(0);" #}
                        {#                                   class="btn btn-sm btn-danger"><i #}
                        {#                                            class="fa fa-xs fa-check"></i> {{ 'Commercial.MissionSheet.Validate'|trans }} #}
                        {#                                </a> #}
                        {#                            {% endif %} #}
                        {#                        {% if quoteRequest.missionSheet.status == 'VALIDATED' %} #}
                        {#                            <a href="{{ path("paprec_quote_request_mission_sheet_send", {id: quoteRequest.id}) }}" #}
                        {#                               class="btn btn-sm btn-secondary"><i #}
                        {#                                        class="fa fa-xs fa-paper-plane"></i> {{ 'Commercial.QuoteRequest.MissionSheet.SendPdf'| trans({}, "messages", app.request.locale) }} #}
                        {#                            </a> #}

                        {#                            <a id="downloadGeneratedQuoteButton" #}
                        {#                               href="{{ path("paprec_quote_request_mission_sheet_download", {id: quoteRequest.id}) }}" #}
                        {#                               class="btn btn-sm btn-secondary"><i #}
                        {#                                        class="fa fa-xs fa-download"></i> {{ 'Commercial.QuoteRequest.MissionSheet.Download'|trans }} #}
                        {#                            </a> #}
                        {#                            {% endif %} #}
                        {#                        {% endif %} #}
                        {#                        <a href="{{ path("paprec_quote_request_follow_up_add", {id: quoteRequest.id}) }}" #}
                        {#                           class="btn btn-sm btn-success"><i #}
                        {#                                    class="fa fa-xs fa-plus"></i> {{ 'Commercial.QuoteRequest.FollowUp.Add'| trans({}, "messages", app.request.locale) }} #}
                        {#                        </a> #}
                        {#                        {% if quoteRequest.postalCode %} #}
                        {#                            <a id="downloadGeneratedQuoteButton" #}
                        {#                               href="{{ path("paprec_quote_request_download", {id: quoteRequest.id}) }}" #}
                        {#                               class="btn btn-sm btn-secondary"><i #}
                        {#                                        class="fa fa-xs fa-download"></i> {{ 'Commercial.QuoteRequest.Download-quote'|trans }} #}
                        {#                            </a> #}
                        {#                        {% endif %} #}
                        {#                        <button class="btn btn-sm btn-primary" #}
                        {#                                data-target="#uploadQuoteRequestFileModal" data-toggle="modal" #}
                        {#                                id="openModalUploadQuoteRequestFile"><i #}
                        {#                                    class="fa fa-file"></i> {{ 'Commercial.QuoteRequestFile.BtnAddLabel'| trans({}, "messages", app.request.locale) }} #}
                        {#                        </button> #}
                        {#                        <a href="javascript:void(0);" #}
                        {#                           class="btn btn-sm btn-success mr-1 send-generated-contract-button {% if not isAbleToSendContractEmail %}btn-disabled{% endif %}"><i #}
                        {#                                    class="fa fa-xs fa-envelope"></i> {{ 'Commercial.QuoteRequest.Send-contract'|trans }} #}
                        {#                        </a> #}
                        {#                        <a href="{{ path("paprec_quoteRequest_edit", {id: quoteRequest.id}) }}" #}
                        {#                           class="btn btn-sm btn-warning"><i #}
                        {#                                    class="fa fa-xs fa-edit"></i> {{ 'Commercial.QuoteRequest.Edit'|trans }}</a> #}
                        {#                        <a id="commmecialQuoteRequestRemoveButton" href="javascript:void(0);" #}
                        {#                           class="btn btn-sm btn-danger"><i #}
                        {#                                    class="fa fa-xs fa-trash"></i> {{ 'General.Remove'|trans }}</a> #}
                        <!-- Modal d'ajout de fichiers au mail -->
                        <div class="modal fade" id="uploadQuoteRequestFileModal" tabindex="-1" role="dialog"
                             aria-labelledby="Upload Picture" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <form id="formAddQuoteRequestFile" name="formAddQuoteRequestFile"
                                          action="{{ path("paprec_quote_request_add_quote_request_file", {quoteRequestId: quoteRequest.id}) }}"
                                          method="post" enctype="multipart/form-data">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                {{ 'Commercial.QuoteRequestFile.AddTitle'| trans({}, "messages", app.request.locale) }}
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <div class="form-label">
                                                    <span>{{ 'Commercial.QuoteRequestFile.MaxSize'| trans({}, "messages", app.request.locale) }}</span>
                                                </div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddQuoteRequestFile.systemPath, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddQuoteRequestFile.systemPath) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-label">
                                                    <span>{{ 'Commercial.QuoteRequestFile.Type.Type'| trans({}, "messages", app.request.locale) }}</span>
                                                </div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddQuoteRequestFile.type, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddQuoteRequestFile.type) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary"
                                                    data-dismiss="modal">
                                                {{ 'General.Cancel'| trans({}, "messages", app.request.locale) }}
                                            </button>
                                            <button type="button" class="btn btn-sm btn-primary"
                                                    id="formAddQuoteRequestFileSubmitButton">
                                                {{ 'General.Save'| trans({}, "messages", app.request.locale) }}
                                            </button>
                                        </div>
                                        {{ form_rest(formAddQuoteRequestFile) }}
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="float-left">
                        <a href="{{ path('paprec_quoteRequest_index') }}" class="btn btn-sm btn-default"><i
                                    class="fa fa-xs fa-chevron-left"></i> {{ 'Commercial.QuoteRequest.List'|trans }}</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Commercial.QuoteRequest.Informations-FO'|trans }}</h5>
                            </div>
                            <div class="card-body row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Catalog.Catalog'|trans }}</label>
                                        <label class="col-form-label">
                                            {% if quoteRequest.catalog %} {{ ('Commercial.QuoteRequest.Catalog.'~ quoteRequest.catalog)|trans }}{% endif %}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Origin.Origin'|trans }}</label>
                                        <label class="col-form-label">
                                            {% if quoteRequest.origin %} {{ ('Commercial.QuoteRequest.Origin.'~ quoteRequest.origin)|trans }}{% endif %}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Number'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.number }}
                                        </label>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Locale'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.locale }}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.BusinessName'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.businessName }}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Civility'|trans }}</label>
                                        {% if quoteRequest.civility is not null %}
                                            <label class="col-form-label">
                                                {{ ('General.' ~ quoteRequest.civility)|trans }}
                                            </label>
                                        {% endif %}
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.LastName'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.lastName }}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.FirstName'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.firstName }}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Email'|trans }}</label>
                                        <label class="col-form-label">
                                            <a class="send-generated-contract-button" href="javascript:void(0);">
                                                {{ quoteRequest.email }}
                                            </a>
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Phone'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.phone }}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Public.Contact.Access'| trans }}</label>
                                        <label class="col-form-label">
                                            {% if quoteRequest.access %}
                                                {{ ('Commercial.AccessList.' ~ quoteRequest.access)|trans }}
                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Public.Contact.FloorNumber'| trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.floorNumber }}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Public.Contact.Staff'| trans }}</label>
                                        <label class="col-form-label">
                                            {% if quoteRequest.staff %}
                                                {{ ('Commercial.StaffList.' ~ quoteRequest.staff)|trans }}
                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.PonctualDate'|trans }}</label>
                                        {% if quoteRequest.ponctualDate is not null and quoteRequest.catalog == 'PONCTUAL' %}
                                            <label class="col-form-label">
                                                {{ quoteRequest.ponctualDate|localizeddate('short', 'none', app.request.locale) }}
                                            </label>
                                        {% endif %}
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.IsMultisite'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ ('General.' ~ (quoteRequest.isMultisite ? 'Yes' : 'No'))|trans }}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Address'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.address }}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.PostalCode'|trans }}</label>
                                        <label class="col-form-label">
                                            {% if quoteRequest.postalCode %}
                                                <a href="{{ path('paprec_postalCode_view', {id: quoteRequest.postalCode.id}) }}">
                                                    {{ quoteRequest.postalCode.code }}
                                                </a>
                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.City'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.city }}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.BillingAddress'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.billingAddress }}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.BillingPostalCode'|trans }}</label>
                                        <label class="col-form-label">
                                            {% if quoteRequest.billingPostalCode %}
                                                {% if quoteRequest.isSameAddress == 1 %}
                                                    <a href="{{ path('paprec_postalCode_view', {id: quoteRequest.postalCode.id}) }}">
                                                        {{ quoteRequest.billingPostalCode }}
                                                    </a>
                                                {% else %}
                                                    {{ quoteRequest.billingPostalCode }}
                                                {% endif %}
                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.BillingCity'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.billingCity }}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Comment'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.comment }}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Public.Catalog.Other-Needs'| trans }}</label>
                                        {% if quoteRequest.otherNeeds and quoteRequest.otherNeeds|length > 0 %}
                                            <ul class="col-form-label">
                                                {% for otherNeed in quoteRequest.otherNeeds %}
                                                    <li class="contact-other-need">- {{ otherNeed.name }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <label class="col-form-label">N/A</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6 mt-4">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.SignatoryFirstName1'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.signatoryFirstName1 }}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.SignatoryLastName1'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.signatoryLastName1 }}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.SignatoryTitle1'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.signatoryTitle1 }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Commercial.QuoteRequest.Informations-BO'|trans }}</h5>
                            </div>
                            <div class="card-body row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.QuoteStatus'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ ('Commercial.QuoteStatusList.' ~ quoteRequest.quoteStatus)|trans }}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.RegularDuration'|trans }}</label>
                                        <label class="col-form-label">
                                            {% if quoteRequest.duration is null %}
                                                0 {{ 'Commercial.QuoteRequest.MONTH'|trans }}
                                            {% else %}
                                                {{ quoteRequest.duration }} {{ 'Commercial.QuoteRequest.MONTH'|trans }}
                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.StartDate'|trans }}</label>
                                        <label class="col-form-label">
                                            {% if quoteRequest.startDate is not null %}
                                                {{ quoteRequest.startDate|localizeddate('short', 'none', app.request.locale) }}
                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.CustomerId'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.customerId }}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.UserInCharge'|trans }}</label>
                                        <label class="col-form-label">
                                            {% if quoteRequest.userInCharge %}
                                                {% if quoteRequest.userInCharge.deleted is null %}
                                                    <a href="{{ path('paprec_user_view', {id: quoteRequest.userInCharge.id}) }}">
                                                        {{ quoteRequest.userInCharge.firstName }} {{ quoteRequest.userInCharge.lastName }}
                                                    </a>
                                                {% else %}
                                                    {{ quoteRequest.userInCharge.firstName }} {{ quoteRequest.userInCharge.lastName }}
                                                {% endif %}
                                                {% if quoteRequest.userInCharge.deleted is not null %}
                                                    {{ 'Catalog.PostalCode.DeletedUser'|trans }}
                                                {% elseif not quoteRequest.userInCharge.enabled %}
                                                    {{ 'Catalog.PostalCode.DisabledUser'|trans }}
                                                {% endif %}
                                            {% endif %}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.Reference'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.reference }}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.TotalAmountWithoutDiscount'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ total|formatAmount('EUR', app.request.locale) }}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.OverallDiscount'|trans }}</label>
                                        <label class="col-form-label"{% if quoteRequest.totalAmount and ((quoteRequest.totalAmount - total)/total * 100) < -15 %} style="color: red"{% endif %}>
                                            {% if quoteRequest.totalAmount and total %}
                                                {{ (((quoteRequest.totalAmount - total)/total) * 10000)|formatAmount('PERCENTAGE', app.request.locale) }}{% if quoteRequest.totalAmount and ((quoteRequest.totalAmount - total)/total * 100) < -15 %} !{% endif %}
                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.TotalAmount'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.totalAmount|formatAmount('EUR', app.request.locale) }}
                                        </label>
                                    </div>
                                    {#                                    <div class="form-group row"> #}
                                    {#                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.OverallDiscount'|trans }}</label> #}
                                    {#                                        <label class="col-form-label"> #}
                                    {#                                            {{ quoteRequest.overallDiscount|formatAmount('PERCENTAGE', app.request.locale) }} #}
                                    {#                                        </label> #}
                                    {#                                    </div> #}
                                    {# <div class="form-group row"> #}
                                    {# <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.AnnualBudget'|trans }}</label> #}
                                    {# <label class="col-form-label"> #}
                                    {# {{ quoteRequest.annualBudget|formatAmount('EUR', app.request.locale) }} #}
                                    {# </label> #}
                                    {# </div> #}
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.SalesmanComment'|trans }}</label>
                                        <label class="col-form-label">
                                            {{ quoteRequest.salesmanComment }}
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">{{ 'Commercial.QuoteRequest.ServiceEndDate'|trans }}</label>
                                        <label class="col-form-label">
                                            {% if quoteRequest.serviceEndDate is not null %}
                                                {{ quoteRequest.serviceEndDate|localizeddate('short', 'none', app.request.locale) }}
                                            {% endif %}
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <h5>
                                    {{ 'Commercial.QuoteRequest.ProductsList'|trans }}
                                </h5>
                                <div class="float-right">

                                    <a href="{{ path('paprec_quoteRequest_addLine', {id: quoteRequest.id}) }}"
                                       class="btn btn-sm btn-outline-primary">
                                        <i class="fa fa-xs fa-plus"></i> {{ 'Commercial.QuoteRequest.AddLine'|trans }}
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="quoteRequestLinesDatatable"
                                       class="table table-striped table-bordered table-hover"
                                       cellpadding="0" cellspacing="0" border="0">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{ 'Commercial.QuoteRequestLine.ProductCode'|trans }}</th>
                                        <th>{{ 'Commercial.QuoteRequestLine.ProductRange'|trans }}</th>
                                        <th>{{ 'Commercial.QuoteRequestLine.ProductName'|trans }}</th>
                                        <th>{{ 'Commercial.QuoteRequestLine.ProductBillingUnit'|trans }}</th>
                                        <th>{{ 'Commercial.QuoteRequestLine.Quantity'|trans }}</th>
                                        <th>{{ 'Commercial.QuoteRequestLine.PassingFrequency'|trans }}</th>
                                        <th>{{ 'Commercial.QuoteRequestLine.RentalPrice'|trans }}</th>
                                        <th>{{ 'Commercial.QuoteRequestLine.TreatmentCollect'|trans }}</th>
                                        <th>{{ 'Commercial.QuoteRequestLine.Treatment'|trans }} </th>
                                        <th>{{ 'Commercial.QuoteRequestLine.TotalAmount'|trans }}</th>

                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {#                                    {% set color = null %} #}
                                    {#                                    {% if quoteRequest.overallDiscount == 0 %} #}
                                    {#                                        {% set color = 'black' %} #}
                                    {#                                    {% elseif quoteRequest.overallDiscount > 0 %} #}
                                    {#                                        {% set color = 'green' %} #}
                                    {#                                    {% elseif quoteRequest.overallDiscount < 0 %} #}
                                    {#                                        {% set color = 'red' %} #}
                                    {#                                    {% endif %} #}
                                    {% for quoteRequestLine in quoteRequest.quoteRequestLines %}
                                        <tr>
                                            <td>{{ quoteRequestLine.id|formatId(6) }}</td>
                                            <td>
                                                {{ quoteRequestLine.product.code }}
                                            </td>
                                            <td>
                                                <a href="{{ path('paprec_product_view', {id: quoteRequestLine.product.id}) }}">
                                                    {{ quoteRequestLine.product|productLabelTranslation(app.user.lang) }}
                                                </a>
                                            </td>
                                            <td>
                                                {% if quoteRequestLine.product.range %}
                                                    {{ quoteRequestLine.product.range|rangeLabelTranslation(app.user.lang) }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if quoteRequestLine.product.billingUnit %}
                                                    {{ quoteRequestLine.product.billingUnit.name }}
                                                {% endif %}
                                            </td>
                                            <td>{{ quoteRequestLine.quantity }}</td>
                                            <td>
                                                {% if quoteRequestLine.frequency != 'REGULAR' %}
                                                    {{ ('General.Frequency.'~quoteRequestLine.frequency)|trans({}, "messages", app.request.locale) }}
                                                {% else %}
                                                    {% if quoteRequestLine.frequencyInterval is not empty %}
                                                        {% set frequencyIntervalName = 'General.Frequency.' ~ quoteRequestLine.frequencyInterval %}
                                                        {{ quoteRequestLine.frequencyTimes }}
                                                        x/ {{ frequencyIntervalName|trans({}, "messages", app.request.locale) }}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if quoteRequestLine.editableRentalUnitPrice == 0 %}
                                                    0
                                                {% else %}

                                                    {{ (quoteRequestLine|quoteRequestLineCalculatePrices('editableRentalUnitPrice'))|formatAmount('EUR', app.request.locale) }}

                                                    {#                                                    {{ ((quoteRequestLine.rentalRate / 1000000000000000) *(quoteRequestLine.editableRentalUnitPrice))|formatAmount('EUR', app.request.locale) }} #}

                                                    {#                                                    <span class="small"      style="color: {{ color }}">({{ quoteRequest.overallDiscount|formatAmount('PERCENTAGE', app.request.locale) }})</span> #}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ (quoteRequestLine|quoteRequestLineCalculatePrices('treatmentCollectPrice'))|formatAmount('EUR', app.request.locale) }}

                                                {#                                                {{ quoteRequestLine.treatmentCollectPrice|formatAmount('EUR', app.request.locale) }} #}
                                                {#                                                <span class="small" #}
                                                {#                                                      style="color: {{ color }}">({{ quoteRequest.overallDiscount|formatAmount('PERCENTAGE', app.request.locale) }})</span> #}
                                            </td>
                                            <td>
                                                {% if quoteRequestLine.editableTreatmentUnitPrice == 0 %}
                                                    0
                                                {% else %}
                                                    {% if quoteRequestLine.editableTreatmentUnitPrice < 0 %}
                                                        <i class="fas fa-exclamation-triangle" data-toggle="tooltip"
                                                           data-placement="top"
                                                           title="Le prix sera index mensuellement  la variation de la mercuriale Mercuriale choisie, rfrence Mois et Anne de Rfrence"></i>
                                                    {% endif %}


                                                    {{ (quoteRequestLine|quoteRequestLineCalculatePrices('editableTreatmentUnitPrice'))|formatAmount('EUR', app.request.locale) }}


                                                    {#                                                    {{ ((quoteRequestLine.treatmentRate / 1000000000000000) *(quoteRequestLine.editableTreatmentUnitPrice))|formatAmount('EUR', app.request.locale) }} #}
                                                    {#                                                    <span class="small" #}
                                                    {#                                                          style="color: {{ color }}">({{ quoteRequest.overallDiscount|formatAmount('PERCENTAGE', app.request.locale) }})</span> #}
                                                {% endif %}
                                            </td>
                                            <td>{{ quoteRequestLine.totalAmount|formatAmount('EUR', app.request.locale) }}
                                                {#                                                <span class="small" #}
                                                {#                                                      style="color: {{ color }}">({{ quoteRequest.overallDiscount|formatAmount('PERCENTAGE', app.request.locale) }})</span> #}
                                            </td>
                                            <td class="text-center" style="width: 7%">
                                                <a href="{{ path('paprec_quoteRequest_editLine', {id: quoteRequest.id, quoteLineId: quoteRequestLine.id}) }}"
                                                   class="btn btn-sm btn-warning btn-sm mx-1"
                                                   data-id="{{ quoteRequestLine.id }}">
                                                    <i class="fa fa-xs fa-edit"></i>
                                                </a>
                                                <a href="#"
                                                   class="btn btn-sm btn-danger btn-sm commercialQuoteRequestLineRemoveButton"
                                                   data-id="{{ quoteRequestLine.id }}">
                                                    <i class="fa fa-xs fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <form id="formQuoteRequestViewManagementFee" name="formAddQuoteRequestFile"
                              action="{{ path("paprec_quote_request_edit_quote_request_management_fee", {quoteRequestId: quoteRequest.id}) }}"
                              method="post">
                            <div class="card">
                                <div class="card-header">
                                    <h5>
                                        {{ 'Commercial.QuoteRequest.ManagementFee'|trans }}
                                    </h5>
                                </div>

                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-label">{{ 'Commercial.QuoteRequest.ManagementFeeCode1'|trans }}</div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddManagementFee.managementFeeCode1, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddManagementFee.managementFeeCode1) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-label">{{ 'Commercial.QuoteRequest.ManagementFeeDescription1'|trans }}</div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddManagementFee.managementFeeDescription1, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddManagementFee.managementFeeDescription1) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-label">{{ 'Commercial.QuoteRequest.ManagementFeeFrequency1'|trans }}</div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddManagementFee.managementFeeFrequency1, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddManagementFee.managementFeeFrequency1) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-label">{{ 'Commercial.QuoteRequest.ManagementFeeAmount1'|trans }}</div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddManagementFee.managementFeeAmount1, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddManagementFee.managementFeeAmount1) }}
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-label">{{ 'Commercial.QuoteRequest.ManagementFeeCode2'|trans }}</div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddManagementFee.managementFeeCode2, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddManagementFee.managementFeeCode2) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-label">{{ 'Commercial.QuoteRequest.ManagementFeeDescription2'|trans }}</div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddManagementFee.managementFeeDescription2, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddManagementFee.managementFeeDescription2) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-label">{{ 'Commercial.QuoteRequest.ManagementFeeFrequency2'|trans }}</div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddManagementFee.managementFeeFrequency2, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddManagementFee.managementFeeFrequency2) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-label">{{ 'Commercial.QuoteRequest.ManagementFeeAmount2'|trans }}</div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddManagementFee.managementFeeAmount2, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddManagementFee.managementFeeAmount2) }}
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-label">{{ 'Commercial.QuoteRequest.ManagementFeeCode3'|trans }}</div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddManagementFee.managementFeeCode3, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddManagementFee.managementFeeCode3) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-label">{{ 'Commercial.QuoteRequest.ManagementFeeDescription3'|trans }}</div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddManagementFee.managementFeeDescription3, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddManagementFee.managementFeeDescription3) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-label">{{ 'Commercial.QuoteRequest.ManagementFeeFrequency3'|trans }}</div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddManagementFee.managementFeeFrequency3, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddManagementFee.managementFeeFrequency3) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-label">{{ 'Commercial.QuoteRequest.ManagementFeeAmount3'|trans }}</div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddManagementFee.managementFeeAmount3, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddManagementFee.managementFeeAmount3) }}
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-label">{{ 'Commercial.QuoteRequest.ManagementFeeCode4'|trans }}</div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddManagementFee.managementFeeCode4, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddManagementFee.managementFeeCode4) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-label">{{ 'Commercial.QuoteRequest.ManagementFeeDescription4'|trans }}</div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddManagementFee.managementFeeDescription4, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddManagementFee.managementFeeDescription4) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-label">{{ 'Commercial.QuoteRequest.ManagementFeeFrequency4'|trans }}</div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddManagementFee.managementFeeFrequency4, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddManagementFee.managementFeeFrequency4) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-label">{{ 'Commercial.QuoteRequest.ManagementFeeAmount4'|trans }}</div>
                                                <div class="form-content">
                                                    {{ form_widget(formAddManagementFee.managementFeeAmount4, {'attr': {'class': 'form-control'}}) }}
                                                    {{ form_errors(formAddManagementFee.managementFeeAmount4) }}
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="card-footer">
                                    <div class="float-right">
                                        <a href="javascript:void(0);"
                                           class="btn btn-sm btn-success quote-request-view-management-fee-save-button"><i
                                                    class="fa fa-xs fa-check"></i> {{ 'General.Save'|trans }}</a>

                                        <a href="javascript:void(0);"
                                           class="btn btn-sm btn-danger quote-request-view-management-fee-cancel-button"><i
                                                    class="fa fa-xs fa-close"></i> {{ 'General.Cancel'|trans }}</a>
                                    </div>
                                </div>
                            </div>

                            {{ form_rest(formAddManagementFee) }}
                        </form>
                    </div>

                    <div class="col-md-12 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <h5>
                                    {{ 'Commercial.QuoteRequestFile.FileListTitle'|trans }}
                                </h5>
                            </div>
                            <div class="card-body">
                                <table id="quoteRequestFileListDatatable"
                                       class="table table-striped table-bordered table-hover"
                                       cellpadding="0" cellspacing="0" border="0">
                                    <thead>
                                    <tr>
                                        <th>{{ 'Commercial.QuoteRequestFile.FileNameColumn'| trans({}, "messages", app.request.locale) }}</th>
                                        <th>{{ 'Commercial.QuoteRequestFile.Type.Type'| trans({}, "messages", app.request.locale) }}</th>
                                        <th>{{ 'Commercial.QuoteRequestFile.FileTypeColumn'| trans({}, "messages", app.request.locale) }}</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% if quoteRequest.quoteRequestFiles is not null and quoteRequest.quoteRequestFiles|length > 0 %}
                                        {% for quoteRequestFile in quoteRequest.quoteRequestFiles %}

                                            <tr>
                                                <td>
                                                    {{ quoteRequestFile.originalFileName }}
                                                </td>

                                                <td>
                                                    {% if quoteRequestFile.type %}
                                                        {{ ('Commercial.QuoteRequestFile.Type.'~quoteRequestFile.type)|trans }}
                                                    {% endif %}
                                                </td>

                                                <td>
                                                    {{ quoteRequestFile.originalFileName|split('.')|last|upper }}
                                                </td>

                                                <td class="text-center">
                                                    <a href="{{ path('paprec_quote_request_download_quote_request_file', {id: quoteRequestFile.id}) }}"
                                                       class="btn btn-sm btn-info">
                                                        <i class="fa fa-xs fa-download"></i>
                                                    </a>
                                                    <a href="#"
                                                       class="btn btn-sm btn-danger commercialQuoteRequestFileRemoveButton"
                                                       data-id="{{ quoteRequestFile.id }}">
                                                        <i class="fa fa-xs fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                        {% endfor %}
                                    {% endif %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Commercial.FollowUp.FollowUps'| trans({}, "messages", app.request.locale) }}</h5>
                            </div>
                            <div class="card-body">
                                <table id="followUpsListDatatable"
                                       class="table table-striped table-bordered table-hover"
                                       cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{ 'Commercial.FollowUp.Status.Status'|trans }}</th>
                                        <th>{{ 'Commercial.FollowUp.Content'|trans }}</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'General.System-information'|trans }}</h5>
                            </div>
                            <div class="card-body">

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'General.Date-creation'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ quoteRequest.dateCreation|localizeddate('short', 'medium', app.request.locale) }}
                                    </label>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'General.Date-update'|trans }}</label>
                                    <label class="col-form-label">
                                        {{ quoteRequest.dateUpdate is empty ? "" : quoteRequest.dateUpdate|localizeddate('short', 'medium', app.request.locale) }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {

            $('[data-toggle="tooltip"],[data-tooltip="tooltip"]').tooltip();

            $('.quote-request-view-management-fee-save-button').on('click', function () {
                $('#formQuoteRequestViewManagementFee').submit();
            });

            $('.quote-request-view-management-fee-cancel-button').on('click', function () {
                location.reload();
            });

            $('#followUpsListDatatable').EgdDatatable({
                url: "{{ path('paprec_quote_request_follow_up_loadList', {'id': quoteRequest.id}) }}",
                columns: [
                    {"data": "id"},
                    {"data": "status"},
                    {"data": "content"},
                    {"data": "id", "width": "10%", "bSortable": false, "className": "cell-action-button"}
                ],
                rowDblclick: {
                    type: 'open',
                    url: "{{ path('paprec_follow_up_view', {id: '__rowId__'}) }}"
                },
                buttons: [
                    {
                        label: '{{ "General.Remove"|trans }}',
                        type: 'ajaxMany',
                        url: "{{ path("paprec_follow_up_removeMany", {ids: '__rowIds__', json: 1}) }}",
                        confirmMessage: "{{ 'General.Confirm-remove'|trans|e('js') }}",
                        className: 'btn-sm'
                    }
                ],
                rowButtons: [
                    {
                        label: "{{ 'General.View'|trans }}",
                        className: "btn btn-primary btn-sm",
                        icon: "fa fa-eye",
                        url: "{{ path('paprec_follow_up_view', {id: '__rowId__'}) }}"
                    },
                    {
                        label: "{{ 'General.Edit'|trans }}",
                        className: "btn btn-warning btn-sm",
                        icon: "fa fa-edit",
                        url: "{{ path('paprec_follow_up_edit', {id: '__rowId__'}) }}"
                    },
                    {
                        label: '{{ "General.Remove"|trans }}',
                        type: 'ajax',
                        url: "{{ path("paprec_follow_up_removeMany", {ids: '__rowId__', json: 1}) }}",
                        confirmMessage: "<span class='confirm-remove-style'>{{ 'General.Confirm'|trans|e('js') }}</span><br>{{ 'General.Confirm-remove'|trans|e('js') }}",
                        className: 'btn btn-danger btn-sm',
                        icon: "fa fa-times"
                    }

                ]
            });

            $('#commmecialQuoteRequestRemoveButton').on('click', function () {

                {% if is_granted('ROLE_ADMIN') %}

                var url = "{{ path("paprec_quoteRequest_remove", {id: quoteRequest.id}) }}";

                Swal.fire({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'General.Confirm-remove'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then(function (result) {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });
                {% else %}
                Swal.fire({
                    title: "{{ 'General.CantRemove'|trans }}",
                    text: "",
                    showCancelButton: false,
                    confirmButtonText: "{{ 'General.Cancel'|trans }}"
                });
                {% endif %}


            });
            $('#commmecialQuoteRequestMissionSheetValidateButton').on('click', function () {

                {% if quoteRequest and quoteRequest.missionSheet %}
                var url = "{{ path("paprec_quote_request_mission_sheet_validate", {id: quoteRequest.id, missionSheetId: quoteRequest.missionSheet.id}) }}";

                Swal.fire({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "Confirmez-vous la validation ?",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then(function (result) {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });
                {% endif %}

            });
            $('.commercialQuoteRequestLineRemoveButton').on('click', function () {
                quoteLineId = $(this).data('id');
                var url = "{{ path("paprec_quoteRequest_removeLine", {id: quoteRequest.id, quoteLineId: 'quoteLineIdTmp'}) }}".replace('quoteLineIdTmp', quoteLineId);


                Swal.fire({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'General.Confirm-remove'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then(function (result) {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });

            });

            $('.send-generated-contract-button').on('click', function () {
                if (!$(this).hasClass('btn-disabled')) {
                    var url = "{{ path("paprec_quoteRequest_sendGeneratedContract", {id: quoteRequest.id}) }}";

                    Swal.fire({
                        title: "{{ 'General.Confirm'|trans }}",
                        text: "{{ 'Commercial.QuoteRequest.Confirm-send-contract'|trans }}",
                        showCancelButton: true,
                        confirmButtonText: "{{ 'General.Yes'|trans }}",
                        cancelButtonText: "{{ 'General.No'|trans }}"
                    }).then(function (result) {
                        if (result.value) {
                            $(location).attr('href', url);
                        }
                    });
                }
            });

            $('#formAddQuoteRequestFileSubmitButton').on('click', function () {
                $('#formAddQuoteRequestFile').submit();
            });

            $('.commercialQuoteRequestFileRemoveButton').on('click', function () {
                var quoteRequestFileId = $(this).data('id');
                var url = "{{ path("paprec_quote_request_remove_quote_request_file", {quoteRequestId: quoteRequest.id, quoteRequestFileId: '0000'}) }}".replace('0000', quoteRequestFileId);

                Swal.fire({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'General.Confirm-remove'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then(function (result) {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });

            });

            $('.quote-request-add-mission-sheet-button').on('click', function () {
                var url = $(this).data('url');

                Swal.fire({
                    title: "{{ 'General.Confirm'|trans }}",
                    text: "{{ 'Commercial.QuoteRequest.MissionSheet.Confirm-add'|trans }}",
                    showCancelButton: true,
                    confirmButtonText: "{{ 'General.Yes'|trans }}",
                    cancelButtonText: "{{ 'General.No'|trans }}"
                }).then(function (result) {
                    if (result.value) {
                        $(location).attr('href', url);
                    }
                });

            });

        });
    </script>
{% endblock %}
