{% extends "base_admin.html.twig" %}

{% block title %}
    {{ 'Catalog.MissionSheetProduct.View'| trans({}, "messages", app.request.locale) }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content_title %}
    {{ 'Catalog.MissionSheetProduct.MissionSheetProducts'| trans({}, "messages", app.request.locale) }}
{% endblock %}

{% block main_content %}
    <div class="col-md-12">
        <!-- CARD -->
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="fa fa-xs fa-folder"></i> {{ 'Catalog.MissionSheetProduct.View'| trans({}, "messages", app.request.locale) }}
                </h4>
                <div class="float-right">
                    <a href="{{ path("paprec_mission_sheet_product_addMissionSheetProductLabel", {id: missionSheetProduct.id}) }}"
                       class="btn btn-sm btn-success"><i
                                class="fa fa-xs fa-plus"></i> {{ 'Catalog.MissionSheetProductLabel.Add'| trans({}, "messages", app.request.locale) }}
                    </a>
                        <a href="{{ path("paprec_mission_sheet_product_edit", {id: missionSheetProduct.id}) }}"
                           class="btn btn-sm btn-warning"><i
                                    class="fa fa-xs fa-edit"></i> {{ 'Catalog.MissionSheetProduct.Edit'| trans({}, "messages", app.request.locale) }}
                        </a>
                    <a id="catalogMissionSheetProductRemoveButton" href="javascript:void(0);" class="btn btn-sm btn-danger"><i
                                class="fa fa-xs fa-trash"></i> {{ 'Catalog.MissionSheetProduct.Remove'| trans({}, "messages", app.request.locale) }}
                    </a>
                </div>
                <div class="float-left">
                    <a href="{{ path('paprec_mission_sheet_product_index') }}" class="btn btn-sm btn-default"><i
                                class="fa fa-xs fa-chevron-left"></i> {{ 'Catalog.MissionSheetProduct.List'| trans({}, "messages", app.request.locale) }}
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'General.Information'| trans({}, "messages", app.request.locale) }}</h5>
                        </div>
                        <div class="card-body row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.MissionSheetProductLabel.Language.Language'| trans({}, "messages", app.request.locale) }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ missionSheetProductLabel.language }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.MissionSheetProductLabel.Name'| trans({}, "messages", app.request.locale) }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ missionSheetProductLabel.name }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.MissionSheetProductLabel.Short-description'| trans({}, "messages", app.request.locale) }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ missionSheetProductLabel.shortDescription|nl2br }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.MissionSheetProduct.Capacity'| trans({}, "messages", app.request.locale) }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ missionSheetProduct.capacity }} {% autoescape false %} {{ missionSheetProduct.capacityUnit }} {% endautoescape %}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.MissionSheetProduct.Dimensions'| trans({}, "messages", app.request.locale) }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ missionSheetProduct.dimensions|nl2br }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.MissionSheetProduct.WasteClassification'| trans({}, "messages", app.request.locale) }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ missionSheetProduct.wasteClassification }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.MissionSheetProduct.Code'| trans({}, "messages", app.request.locale) }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ missionSheetProduct.code }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.MissionSheetProduct.Comment'| trans({}, "messages", app.request.locale) }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ missionSheetProduct.comment }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ 'General.System-information'| trans({}, "messages", app.request.locale) }}</h5>
                        </div>
                        <div class="card-body">

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'General.Date-creation'| trans({}, "messages", app.request.locale) }}</label>
                                <label class="col-form-label col-md-8">
                                    {{ missionSheetProduct.dateCreation|localizeddate('short', 'medium', app.request.locale) }}
                                </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">{{ 'General.Date-update'| trans({}, "messages", app.request.locale) }}</label>
                                <label class="col-form-label col-md-8">
                                    {{ missionSheetProduct.dateUpdate is empty ? "" : missionSheetProduct.dateUpdate|localizeddate('short', 'medium', app.request.locale) }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                {% for pL in otherMissionSheetProductLabels %}
                    <div class="col-md-12 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ ('Catalog.MissionSheetProductLabel.Language.'~pL.language)| trans({}, "messages", app.request.locale) }}</h5>
                                <div class="float-right">
                                    <a href="{{ path("paprec_mission_sheet_product_editMissionSheetProductLabel", {id: missionSheetProduct.id, missionSheetProductLabelId: pL.id}) }}"
                                       class="btn btn-sm btn-warning"><i
                                                class="fa fa-xs fa-edit"></i> {{ 'Catalog.MissionSheetProductLabel.Edit'| trans({}, "messages", app.request.locale) }}
                                    </a>
                                    <a id="catalogMissionSheetProductLabelRemoveButton_{{ pL.id }}" href="javascript:void(0);"
                                       class="btn btn-sm btn-danger catalogMissionSheetProductLabelRemoveButton"><i
                                                class="fa fa-xs fa-trash"></i> {{ 'Catalog.MissionSheetProductLabel.Remove'| trans({}, "messages", app.request.locale) }}
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.MissionSheetProductLabel.Name'| trans({}, "messages", app.request.locale) }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ pL.name }}
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">{{ 'Catalog.MissionSheetProductLabel.Short-description'| trans({}, "messages", app.request.locale) }}</label>
                                    <label class="col-form-label col-md-8">
                                        {{ pL.shortDescription|nl2br }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

    {% block javascripts %}

        <script>
            $(function () {

                $('#catalogMissionSheetProductRemoveButton').on('click', function () {

                    var url = "{{ path("paprec_mission_sheet_product_remove", {id: missionSheetProduct.id}) }}";

                    Swal.fire({
                        title: "{{ 'General.Confirm'| trans({}, "messages", app.request.locale) }}",
                        text: "{{ 'General.Confirm-remove'| trans({}, "messages", app.request.locale) }}",
                        showCancelButton: true,
                        confirmButtonText: "{{ 'General.Yes'| trans({}, "messages", app.request.locale) }}",
                        cancelButtonText: "{{ 'General.No'| trans({}, "messages", app.request.locale) }}"
                    }).then(function (result) {
                        if (result.value) {
                            $(location).attr('href', url);
                        }
                    });

                });

                $('.catalogMissionSheetProductLabelRemoveButton').on('click', function () {

                    var pLId = $(this).attr('id').replace('catalogMissionSheetProductLabelRemoveButton_', '');

                    var url = "{{ path("paprec_mission_sheet_product_removeMissionSheetProductLabel", {id: missionSheetProduct.id, missionSheetProductLabelId: 'missionSheetProductLabelId'}) }}".replace('missionSheetProductLabelId', pLId);

                    Swal.fire({
                        title: "{{ 'General.Confirm'| trans({}, "messages", app.request.locale) }}",
                        text: "{{ 'General.Confirm-remove'| trans({}, "messages", app.request.locale) }}",
                        showCancelButton: true,
                        confirmButtonText: "{{ 'General.Yes'| trans({}, "messages", app.request.locale) }}",
                        cancelButtonText: "{{ 'General.No'| trans({}, "messages", app.request.locale) }}"
                    }).then(function (result) {
                        if (result.value) {
                            $(location).attr('href', url);
                        }
                    });

                });

                $('.catalog-mission-sheet-product-save-button').on('click', function () {

                    $('#catalogMissionSheetProductForm').submit();

                });
            });
        </script>

    {% endblock %}
