{% extends "base_admin.html.twig" %}

{% block title %}
    {{ 'Catalog.Dashboard.Activities'|trans }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content_title %}
    {{ 'Catalog.Dashboard.Activities'|trans }}
{% endblock %}

{% block main_content %}
    <div class="row dashboard-page">
        <div class="col-md-12">
            <!-- BOX -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-xs fa-list"></i> {{ 'Catalog.Dashboard.Activity.Activity'|trans }}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="paprec-flex mb-4">
                        <select name="catalog" id="selectedCatalog" class="form-control mr-2 input-sm col-3">
                            {% for catalog in catalogs %}
                                <option value="{{ catalog }}"{% if catalog == selectedCatalog %} selected{% endif %}>{{ ('Commercial.QuoteRequest.'~ catalog)|trans() }}</option>
                            {% endfor %}
                        </select>
                        <a href="javascript:void(0)" class="btn btn-outline-primary filter-button">Appliquer</a>
                    </div>

                    <table class="table table-bordered table-hover"
                           cellpadding="0" cellspacing="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th style="width: 40%">Commercial</th>
                            <th>Antérieur (M-4 à M-12)</th>
                            <th>M-3</th>
                            <th>M-2</th>
                            <th>M-1</th>
                            <th>M</th>
                            <th style="width: 20%">TOTAL À DATE</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if datas|length > 0 %}
                            {% for data in datas %}
                                <tr class="colored-row">
                                    <th>{{ data['name'] }}</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="line-number">
                                    <th class="font-weight-normal">Nombre de nouvelles affaires</th>
                                    <td>{{ data['qr_number']['M_4_12']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number']['M_3']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number']['M_2']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number']['M_1']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number']['M']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number']['TOTAL']|format_currency('EUR') }}</td>
                                </tr>
                                <tr class="line-number">
                                    <th class="font-weight-normal text-right">dont ouvertes à ce jour</th>
                                    <td>{{ data['qr_number_opened']['M_4_12']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_opened']['M_3']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_opened']['M_2']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_opened']['M_1']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_opened']['M']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_opened']['TOTAL']|format_currency('EUR') }}</td>
                                </tr>
                                <tr class="line-number">
                                    <th class="font-weight-normal text-right">dont clôturées gagnées</th>
                                    <td>{{ data['qr_number_closed_won']['M_4_12']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_closed_won']['M_3']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_closed_won']['M_2']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_closed_won']['M_1']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_closed_won']['M']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_closed_won']['TOTAL']|format_currency('EUR') }}</td>
                                </tr>
                                <tr class="line-number">
                                    <th class="font-weight-normal text-right">dont clôturées non gagnées</th>
                                    <td>{{ data['qr_number_closed_not_won']['M_4_12']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_closed_not_won']['M_3']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_closed_not_won']['M_2']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_closed_not_won']['M_1']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_closed_not_won']['M']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_closed_not_won']['TOTAL']|format_currency('EUR') }}</td>
                                </tr>
                                <tr class="line-number">
                                    <th>soit total affaires générées (12 mois)</th>
                                    <td>{{ data['qr_number_total']['M_4_12']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_total']['M_3']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_total']['M_2']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_total']['M_1']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_total']['M']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_number_total']['TOTAL']|format_currency('EUR') }}</td>
                                </tr>
                                <tr class="line-number">
                                    <th class="text-right">Taux de signature</th>
                                    <td>{{ data['qr_number_signature']['M_4_12'] }} %</td>
                                    <td>{{ data['qr_number_signature']['M_3'] }} %</td>
                                    <td>{{ data['qr_number_signature']['M_2'] }} %</td>
                                    <td>{{ data['qr_number_signature']['M_1'] }} %</td>
                                    <td>{{ data['qr_number_signature']['M'] }} %</td>
                                    <td>{{ data['qr_number_signature']['TOTAL'] }} %</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="line-number">
                                    <th class="font-weight-normal">CA des nouvelles affaires</th>
                                    <td>{{ data['qr_turnover']['M_4_12']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover']['M_3']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover']['M_2']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover']['M_1']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover']['M']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover']['TOTAL']|format_currency('EUR') }}</td>
                                </tr>
                                <tr class="line-number">
                                    <th class="font-weight-normal text-right">dont ouverte à ce jour</th>
                                    <td>{{ data['qr_turnover_opened']['M_4_12']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_opened']['M_3']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_opened']['M_2']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_opened']['M_1']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_opened']['M']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_opened']['TOTAL']|format_currency('EUR') }}</td>
                                </tr>
                                <tr class="line-number">
                                    <th class="font-weight-normal text-right">dont clôturées gagnées</th>
                                    <td>{{ data['qr_turnover_closed_won']['M_4_12']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_closed_won']['M_3']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_closed_won']['M_2']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_closed_won']['M_1']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_closed_won']['M']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_closed_won']['TOTAL']|format_currency('EUR') }}</td>
                                </tr>
                                <tr class="line-number">
                                    <th class="font-weight-normal text-right">dont clôturées non gagnées</th>
                                    <td>{{ data['qr_turnover_closed_not_won']['M_4_12']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_closed_not_won']['M_3']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_closed_not_won']['M_2']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_closed_not_won']['M_1']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_closed_not_won']['M']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_closed_not_won']['TOTAL']|format_currency('EUR') }}</td>
                                </tr>
                                <tr class="line-number">
                                    <th>soit total affaires générées (12 mois)</th>
                                    <td>{{ data['qr_turnover_total']['M_4_12']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_total']['M_3']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_total']['M_2']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_total']['M_1']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_total']['M']|format_currency('EUR') }}</td>
                                    <td>{{ data['qr_turnover_total']['TOTAL']|format_currency('EUR') }}</td>
                                </tr>
                                <tr class="line-number">
                                    <th class="text-right">Taux de signature</th>
                                    <td>{{ data['qr_turnover_signature']['M_4_12'] }} %</td>
                                    <td>{{ data['qr_turnover_signature']['M_3'] }} %</td>
                                    <td>{{ data['qr_turnover_signature']['M_2'] }} %</td>
                                    <td>{{ data['qr_turnover_signature']['M_1'] }} %</td>
                                    <td>{{ data['qr_turnover_signature']['M'] }} %</td>
                                    <td>{{ data['qr_turnover_signature']['TOTAL'] }} %</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('.filter-button').on('click', function () {
                var catalog = $('#selectedCatalog').val();
                var url = '{{ path('paprec_dashboard_activity_index', {'selectedCatalog': '0000'}) }}'.replace('0000', catalog);
                $(location).attr('href', url);
            });
        });
    </script>
{% endblock %}
