{% extends "base_admin.html.twig" %}

{% block title %}
    {{ 'Catalog.Dashboard.FollowUps'|trans }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content_title %}
    {{ 'Catalog.Dashboard.FollowUps'|trans }}
{% endblock %}

{% block main_content %}
    <div class="row dashboard-page">
        <div class="col-md-12">
            <!-- BOX -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-xs fa-list"></i> {{ 'Catalog.Dashboard.FollowUp.FollowUp'|trans }}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="paprec-flex pb-4">
                        <label for="selectedPrice1" class="d-flex align-items-center">CA compris entre : </label>
                        <select name="price1" id="selectedPrice1" class="form-control mr-3 input-sm col-1 ml-1">
                            {% if prices|length > 0 %}
                                {% for price in prices %}
                                    <option value="{{ price }}"{% if price == selectedPrice1 %} selected{% endif %}>{{ price }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <label for="selectedPrice2" class="d-flex ml-2 mr-3 align-items-center">et</label>
                        <select name="price2" id="selectedPrice2" class="form-control input-sm col-1 ml-2 mr-2">
                            {% if prices|length > 0 %}
                                {% for price in prices %}
                                    <option value="{{ price }}"{% if price == selectedPrice2 %} selected{% endif %}>{{ price }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <select name="catalog" id="selectedCatalog" class="form-control mr-2 input-sm col-2">
                            {% for catalog in catalogs %}
                                <option value="{{ catalog }}"{% if catalog == selectedCatalog %} selected{% endif %}>{{ ('Commercial.QuoteRequest.'~ catalog)|trans() }}</option>
                            {% endfor %}
                        </select>
                        <select name="status" id="selectedStatus" class="form-control mr-2 input-sm col-2">
                            {% for s in status %}
                                <option value="{{ s }}"{% if s == selectedStatus %} selected{% endif %}>{{ ('Commercial.QuoteStatusList.'~ s)|trans() }}</option>
                            {% endfor %}
                        </select>
                        <button href="javascript:void(0)" class="btn btn-outline-primary ml-5 mr-1"
                                id="applyFilterButton">
                            Appliquer les filtres
                        </button>
                        <button id="resetFilterButton" class="btn btn-outline-secondary">Réinitialiser</button>
                    </div>

                    <table id="followUpsListDatatable" class="table table-bordered table-hover"
                           cellpadding="0" cellspacing="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th>{{ 'Commercial.Dashboard.QuoteRequest.Number'|trans }}</th>
                            <th>{{ 'Commercial.Dashboard.Agency.BusinessName'|trans }}</th>
                            <th>{{ 'Commercial.Dashboard.QuoteRequest.Date-creation'|trans }}</th>
                            <th>{{ 'Commercial.Dashboard.QuoteRequest.TotalAmount'|trans }}</th>
                            <th>{{ 'Commercial.Dashboard.QuoteRequest.Last-follow-up'|trans }}</th>
                            <th>{{ 'Commercial.Dashboard.QuoteRequest.Last-update'|trans }}</th>
                            <th>{{ 'Commercial.Dashboard.FollowUp.Content'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {

            $('#followUpsListDatatable').EgdDatatable({
                url: "{{ path('paprec_dashboard_follow_up_loadList') }}",
                order: [[3, "desc"]],
                columns: [
                    {"data": "number"},
                    {"data": "businessName"},
                    {"data": "dateCreation"},
                    {"data": "totalAmount"},
                    {"data": "followUpDate"},
                    {"data": "followUpLastDate"},
                    {"data": "followUpContent", "width": "40%"}
                ]
            });

            $('#applyFilterButton').on('click', function () {
                {% autoescape false %}
                const listUrl = "{{ url('paprec_dashboard_follow_up_loadList') }}";
                {% endautoescape %}

                const filterUrl = new URL(listUrl);
                const params = new URLSearchParams(filterUrl.search);

                var selectedCatalog = $('#selectedCatalog').val();
                var selectedStatus = $('#selectedStatus').val();
                var selectedPrice1 = $('#selectedPrice1').val();
                if(selectedPrice1 === ''){
                    selectedPrice1 = '#';
                }
                var selectedPrice2 = $('#selectedPrice2').val();
                if(selectedPrice2 === ''){
                    selectedPrice2 = '#';
                }

                params.set('selectedCatalog', selectedCatalog);
                params.set('selectedStatus', selectedStatus);
                params.set('selectedPrice1', selectedPrice1);
                params.set('selectedPrice2', selectedPrice2);

                filterUrl.search = params;

                $('#followUpsListDatatable').DataTable().ajax.url(filterUrl.toString()).load();
            });

            $('#resetFilterButton').on('click', function () {
                {% autoescape false %}
                const listUrl = "{{ url('paprec_dashboard_follow_up_loadList') }}";
                {% endautoescape %}

                const filterUrl = new URL(listUrl);
                const params = new URLSearchParams(filterUrl.search);

                $('#selectedCatalog').val('ALL');
                $('#selectedStatus').val('ALL');
                $('#selectedPrice1').val('#');
                $('#selectedPrice2').val('#');

                params.set('sessionReset', true);
                filterUrl.search = params;
                $('#followUpsListDatatable').DataTable().ajax.url(filterUrl.toString()).load();
            });
        });
    </script>
{% endblock %}
