{% extends "base_admin.html.twig" %}

{% block title %}
    {{ 'User.User.List'|trans }}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content_title %}
    {{ 'User.User.Users'|trans }}
{% endblock %}

{% block main_content %}

    <div class="row">

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">{{ ('User.User.Error.' ~ flashMessage.msg)|trans }}
                : {{ flashMessage.var }}</div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ ('User.User.Success.' ~ flashMessage.msg)|trans }}
                : {{ flashMessage.var }}</div>
        {% endfor %}

        <div class="col-md-12">
            <!-- BOX -->
            <div class="card">
                <div class="card-header">
                    <h4>
                        <i class="fa fa-xs fa-users"></i> {{ 'User.User.List'|trans }}
                    </h4>
                    <div class="float-right">
                        <a href="{{ path('paprec_user_add') }}" class="btn btn-sm btn-outline-primary">
                            <i class="fa fa-xs fa-plus"></i> {{ 'User.User.Add'|trans }}
                        </a>
                        <a href="{{ path('paprec_user_export') }}" class="btn btn-sm btn-primary ">
                            <i class="fa fa-xs fa-file-excel"></i> {{ 'User.User.Export'|trans }}
                        </a>
                    </div>
                </div>

                <div class="card-body">
                    <table id="userListDatatable" class="table table-striped table-bordered table-hover"
                           cellpadding="0" cellspacing="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'User.User.Username'|trans }}</th>
                            <th>{{ 'User.User.Last-name'|trans }}</th>
                            <th>{{ 'User.User.First-name'|trans }}</th>
                            <th>{{ 'User.User.Email'|trans }}</th>
                            <th>{{ 'User.User.Enabled'|trans }}</th>
                            <th>{{ 'User.User.Date-crea'|trans }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>
            <!-- /BOX -->
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        $(function () {

            $('#userListDatatable').EgdDatatable({
                url: "{{ path('paprec_user_loadList') }}",
                columns: [
                    {"data": "id", "className": "cell-id"},
                    {"data": "username"},
                    {"data": "lastName"},
                    {"data": "firstName"},
                    {"data": "email"},
                    {"data": "enabled"},
                    {"data": "dateCreation"},
                    {"data": "id", "width": "10%", "bSortable": false, "className": "cell-action-button"}
                ],
                rowDblclick: {
                    type: 'open',
                    url: "{{ path('paprec_user_view', {id: '__rowId__'}) }}"
                },
                rowButtons: [
                    {
                        label: "{{ 'General.View'|trans }}",
                        className: "btn btn-primary btn-sm",
                        icon: "fa fa-eye",
                        url: "{{ path('paprec_user_view', {id: '__rowId__'}) }}"
                    },
                    {
                        label: "{{ 'General.Edit'|trans }}",
                        className: "btn btn-warning btn-sm",
                        icon: "fa fa-edit",
                        url: "{{ path('paprec_user_edit', {id: '__rowId__'}) }}"
                    },
                    {
                        label: '{{ "General.Remove"|trans }}',
                        type: 'ajax',
                        url: "{{ path("paprec_user_removeMany", {ids: '__rowId__', json: 1}) }}",
                        confirmMessage: "<span class='confirm-remove-style'>{{ 'General.Confirm'|trans|e('js') }}</span><br>{{ 'General.Confirm-remove'|trans|e('js') }}",
                        className: 'btn btn-danger btn-sm',
                        icon: "fa fa-times"
                    }

                ]
            });

        });
    </script>
{% endblock %}
